{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
    <link rel="stylesheet" href="{% static 'css/add-task-style.css' %}">
</head>
<body>
    <header><p>Mr Manager</p></header>
    <div class="content">
        <a href="/dashboard"><p>Go To Dashboard</p></a>
        <h2>Add Task</h2>
        {% if messages %}
            <ul>{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-field">
                <label for="id_task_name">Task Name:</label>
                <input type="text" name="task_name" id="id_task_name" required>
            </div>
            <div class="form-field">
                <label for="id_task_description">Task Description:</label>
                <textarea name="task_description" id="id_task_description" required></textarea>
            </div>
            <div class="form-field">
                <label for="id_assigned_to">Assigned to ( user email id ):</label>
                <input type="email" name="assigned_to" id="id_assigned_to" required>
            </div>
            <label for="priority">Priority:</label>
<select id="priority" name="priority" class="priority-select">
    <option value="high">High</option>
    <option value="medium">Medium</option>
    <option value="low">Low</option>
</select><br><br>
            <label for="due_date">Due Date:</label>
<input type="date" id="due_date" name="due_date" class="date-input" value="{{ today }}" min="{{ today }}" required><br>
            <button type="submit" class="button">Add Task</button>
        </form>
    </div><br><br><br>
    <footer><p>&copy; 2024 Mr Manager. All rights reserved.</p></footer>
</body>
</html>
