{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link rel="stylesheet" href="{% static 'css/add-task-style.css' %}">
</head>
<body>
    <header><h4>Mr Manager</h4></header>
    <div class="content">
        <h2>Edit Task</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-field">
                <label for="id_task_name">Task Name:</label>
                <input type="text" value="{{task.task_name}}" name="task_name" id="id_task_name" required>
            </div>
            <div class="form-field">
                <label for="id_task_description">Task Description:</label>
                <textarea name="task_description" id="id_task_description" required>{{task.task_description}}</textarea>
            </div>
            <div class="form-field">
                <label for="id_assigned_to">Assigned to ( user email id ):</label>
                <input type="email" value="{{task.assigned_to}}" name="assigned_to" id="id_assigned_to" required>
            </div>
            <button type="submit" class="button">Save</button>
        </form>
    </div>
    <footer><p>&copy; 2024 Mr Manager. All rights reserved.</p></footer>
</body>
</html>
