{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login-register-style.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <div>
                <label for="id_username">Username:</label>
                <input type="text" name="username" id="id_username" required>
            </div>
            <div>
                <label for="id_password">Password:</label>
                <input type="password" name="password" id="id_password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>