{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Task</title>
    <link rel="stylesheet" href="{% static 'css/view-task-style.css' %}">
</head>
<body>
    <header><p>Mr Manager</p></header>
    <div class="content">
        <div class="task-details">
            <h2>{{ task.task_name }}</h2><br>
            <p><strong>Description:</strong> {{ task.task_description }}</p><br>
            <p><strong>Created Date:</strong> {{ task.created_date }}</p><br>
            <p><strong>Created By:</strong> {{ task.created_by.username }}</p><br>
            <p><strong>Assigned To:</strong>
                {% if task.assigned_to == request.user.email %}
                    <p style="color:green;">YOUR TASK</p>
                {% else %}<p>{{ task.assigned_to }}</p>{% endif %}</p><br>

            <strong>Priority:</strong>
                    {% if task.priority == "high" %}<p style="color:red;">{{ task.priority }}</p>
                    {% elif task.priority == "medium" %}<p style="color:orange;">{{ task.priority }}</td>
                    {% else %}<p style="color:green;">{{ task.priority }}</p>{% endif %}<br>
            <p><strong>Status:</strong> {{ task.status }}</p><br>
            <p><strong>Due Date:</strong>{{ task.due_date }}</p><br>
            <p><strong>Completed Date:</strong>
                     {% if task.completed_date == None %}   -
                    {% else %}  {{ task.completed_date }}  {% endif %}</p><br>
        <div>
           <a href="/dashboard" class="button">Back to Dashboard</a>
            </div>
        </div>
    </div>
    <footer><p>&copy; 2024 Mr Manager. All rights reserved.</p></footer>
</body>
</html>
